%% -*- mode: erlang; -*-es
{erl_opts,
 [
  debug_info
 ,{parse_transform, lager_transform}
 ]
}.
{plugins,
 [
  rebar3_hex
 ]
}.
{deps, [
        {episcina,      "1.1.0"}
       ,{pgsql,         {git, "https://github.com/semiocast/pgsql.git",         {branch, "master"}}}
       ,{lager,         "2.1.1"}
       ]
}.
