%% -*- mode: erlang; -*-es
{erl_opts,
 [
  debug_info
 ,{parse_transform, lager_transform}
 ]
}.
{deps, [
        {episcina,      {git, "https://github.com/waisbrot/episcina.git",       {branch, "master"}}}
       ,{pgsql,         {git, "https://github.com/joshragem/pgsql.git",         {branch, "master"}}}
       ,{lager,         {git, "https://github.com/basho/lager.git",             {tag, "2.1.1"}}}
       ]
}.
